* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(209, 0, 255, 1) 100%);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header h1 {
    display: flex;
    justify-content: center;
}

header {
    display: grid;
    justify-content: center;
}

main {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 550px;
}

main>section {
    display: grid;
    justify-content: center;

}

button {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(79, 121, 9, 1) 35%, rgb(0, 213, 255) 100%);
    width: 100px;
    padding: 4px;
    margin-top: 2px;
    border: none;
    border-bottom: 1px solid black;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Noto Sans Georgian', sans-serif;
}

p {
    text-align: center;
}

div {
    display: grid;
    justify-content: center;
}

.gtav {
    color: blue;
}

.fon {
    width: 100px;
    height: 100px;
    color: blue;
    margin-top: -130px;
    transform: translateX(63px);
}

.fon1 {
    width: 100px;
    height: 100px;
    color: blue;
    transform: translateX(62px);
    margin-top: 100px;
}

.fon2 {
    margin-top: -970px;
    transform: translateX(10px);
}

.rdr {
    margin-top: -130px;
}

.buyers {
    position: absolute;
    top: 174px;
    left: 509px;
    border-radius: 10px;
    display: none;
    opacity: 0;
    transition: opacity 1s ease;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 43, 9, 1) 35%, rgba(0, 212, 255, 1) 100%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.button {
    margin-top: -10px;
    transform: translateX(26px);
    color: rgb(1, 1, 2);
    width: 100px;
    height: 30px;
    border-color: rgb(47, 0, 255);
    border-radius: 10px;
   

   
}